<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Flights</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="../">Home</a>
  <br><br>
  <a href="/flights">Go back</a>
  <br>
  <h1>Mongoose Flights</h1>
  <h2>Enter a New Ticket</h2>
  <form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:
      <input name="seat" type="text" required pattern="[A-F][1-9]\d?">
    </label>
    <label>Name a Price!
      <input name="price" type="number">
    </label>
    <input type="submit" value="Buy it?">
  </form>
</body>
</html>